<div id="header">
    <a class="title" href="/">Boy van Duuren</a>
    <div class="description">
        This is my blog. I made it to learn more about Ruby and Rails.<br>
        The stuff I learn will be posted here, for myself, so I can reference it later on.
    </div>
    <div class="bar">
        <a href="http://github.com/boyvanduuren/">github</a>
    </div>
</div>
